body {
    display:flex;
    flex-direction: column;
    margin: 0;
    background-image: url(../asset/image/Maps.png);
    background-size: cover;

}


.search {
    display:flex;
    justify-content: center;
    
}

.search__input{
    border-radius: 1rem;
    border-style: none;
    height: 2rem;
    
}

.search__button {
    border: none;
    background: none;
    margin: -2rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.geolocalisation {
    border: none;
    border-radius: 1rem;
    width: 7rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    margin: 0;
    display: flex;
    justify-content: center; 
}

.button-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
}